*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;

    font-family: Roboto, Helvetica, Arial, sans-serif;
}
#root{
    height: 100vh;
    width: 100vw;
}


.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/bank.png'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Adjust opacity value here (0.0 to 1.0) */
    z-index: -1;
}

.content-container {
    position: relative;
    z-index: 1;
}

.active-link {
    color: rgb(48, 224, 151);
    /* Add any other styles you want for the active link */
  }

  .md-form label {
    color: white !important;
  }

/* Other styles as needed */
